################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Utilities/.vs/Utilities/v16
/Utilities/Utilities/bin/Debug/netstandard2.0
/Utilities/Utilities/obj
/Tests/bin/Debug/netcoreapp2.2
/Tests/obj
/Utilities/.vs/Utilities/DesignTimeBuild
/Utilities/Utilities/bin/Debug
/Tests/bin/Release/netcoreapp2.2
/Utilities/Utilities/bin/Release
/Utilities/bin
/Utilities/obj
